.services {
    padding: 40px;

    .wrapper {
        max-width: 1366px;
        margin: 0 auto;
   

    h1 {
        font-size: 36px;
        margin-bottom: 40px;
        text-align: center;
        color: #333;
    }

    .services-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .service {
        flex: 0 1 calc(33.33% - 40px);
        background-color: #f9f9f9;
        border-radius: 8px;
        padding: 30px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        }

        .service-icon {
            font-size: 36px;
            margin-bottom: 20px;

            i {
                color: #007bff;
            }
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
            color: #333;
        }

        p {
            font-size: 16px;
            color: #666;
        }
    }
}
}
