::after,
::before {
    box-sizing: border-box;
}



.portfolio{

    .portfolios{
        position: relative;

        .progress{
            position: sticky;
            top: 0;
            left: 0;
            // padding-top: 50px;
            text-align: center;
            color: orange;
            font-size: 36px;
            h1{
    
            }
            .progressBar{
                width: 100%;
                height: 10px;
                background-color: #fff;
            }
        }
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        

        .wrapper{
            max-width: 1366px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: center;

            .imageContainer{
                flex:1;
                height: 65vh;
               

                // overflow: hidden;
                .img{
                    width: 100%;
                    height: 100%;
                    border: 1px solid white;
                    border-radius: 0.5rem;
                    background-size: cover;
                    background-position-y: 0%;
                    transition: background-position-y 3s ease-in-out;
                }
                .img:hover{
                    background-position-y: 100%;
                }
                
            }

            .textContainer{
                height:  65vh;
                flex:1;
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: center;
                gap: 20px;
                background:linear-gradient(180deg, #0c0c1d54, #111132df);
    
                h2{
                    color: orange;
                    font-size: 30px;
                }
    
                p{
                    color: whitesmoke;
                    font-size: 20px;
                }
    
                button{
                    padding: 10px 10px;
                    border:1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                }
            }
        }
    }


    
}


@media screen and (max-width: 768px) {

    .textContainer{
        height: 100% !important;
        background: #0000005b !important;
       
    }
    
}