.banner {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    // background-image: url('/banner.png'); /* Make sure this path is correct */
    // background-size: cover;
    // background-position: center;

    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        .textContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2{
                font-size: 30px;
                letter-spacing: 10px;
                color: rebeccapurple;
            }

            h1{
                font-size: 60px;
            }

            .buttons {
                button{
                    padding: 10px 20px;
                    border:1px solid white;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    border-radius: 10px;
                    font-weight: 300;
                    cursor: pointer;
                }
            }

            img{
                width: 50px;

            }
            }
        }

        .slidingTextContainer {
            
            position: absolute;
            font-size: 40vh;
            bottom: -120px;
            white-space: nowrap;
            color: #ffffff09;
            width: 50%;
            font-weight: bold;
        }

        .imageContainer {
            height: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 3;

            img{
                height: 100%;
            }
    
            
        }


        

        }



        @media screen and (max-width: 640px) {  
         
          .banner{
            height: calc(100vh - 100px);
            overflow: hidden;
            position: relative;
            background-image: url('/banner.png'); /* Make sure this path is correct */
            background-size: cover;
            background-position: center;
          }

          .banner::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.873); /* Semi-transparent black */
            z-index: 1; /* Ensures the overlay is above the image but behind the text */
   }


        }
        
       
